.home{
    background-color: whitesmoke;
    font-family: X Nazanin;
}
.apps{
    /*display: inline-table;*/
    /*width: 250px;*/
    /*margin: auto;*/

}

/*.md-tab:first-child{background: #039be5; }*/
/*.md-tab:nth-child(2){background: #039be5; }*/
/*.md-tab:nth-child(3){background: #039be5; }*/

.logo{
    /*float: left;*/
    position: absolute; top: 0 ; right: 0; margin: 10px;
    width: 40px;
    height: 40px;
    margin-left: 20px;

    /*float: right;*/
}

.logo img{
    max-width: 100% ;
    max-height: 100% ;
    margin: auto;
    display : block
}

.logo-name img{
    max-width: 100% ;
    max-height: 100% ;
    margin: auto;
    display : block
}

.logo-name{
    /*float: left;*/
    position: absolute; top: 0 ; right: 50px; margin: 10px;
    /*width: 50px;*/
    height: 40px;
    margin-left: 20px;
    /*float: right;*/
}
.app_card{
    /*display: inline-block;*/
    /*box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
    background-color: white;
    font-family: X Nazanin;
    padding: 10px;
    /*width: 170px;*/
    /*height: 210px;*/
    margin: 10px;
    /*text-align: center;*/
    direction: rtl;
    position: relative;

}

.app_card:hover{
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background-color:#F9FFFF;
}

.app_buttons{
    display: inline-block;
    direction: ltr;
    position: absolute;
    left:10px;
    top: 20px;
}

.about_app{
    display: inline-block;
    /*text-align: center;*/
    /*box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
    /*background-color: #d7ccc8;*/
    direction: rtl;
}
.app_icon{
    width: 50px;
    height : 50px ;
    direction: rtl;
    display: inline-block;
    /*text-align: center;*/
}
.app_icon:hover{
    cursor: pointer;
}
.app_icon img{
    max-width: 100% ;
    max-height: 100% ;
    margin: auto;
    display : block
}
.app_title{
    display: block;
    padding: 4px;
    /*font-size: ;*/
}
.app_price{
    display: block;
    padding: 2px;
    font-size: small;
    color: gray;
}

.new_app{
    display: inline-block;
    direction: ltr;
    position: absolute;
    /*left:10px;*/
    top: 22px;
    marign : 20px;
    color: darkred;
    font-size: small;
}